/* ШРИФТЫ */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
	font-family:fixedsys;
	src: url(fonts/fixedsys.ttf);
}

body{
	background-color:#f3f0e9;
    margin-top:10px;
    margin-left:10%;
	margin-right:10%;
}

#hat {
	font-family: 'Press Start 2P';
	background-color:#5d9c60;
	box-shadow: 3px 3px 10px black;
	color:white;
	font-size: 72px;
	padding-left: 40px;
	padding-top: 32px;
	padding-bottom: 32px;
	}

#vk {
	margin-left:50px;
}

#menu {
	margin-left:5%;
	font-size:45px;
	margin-top:10px;
	font-family: 'fixedsys';
}

#main {
	text-decoration: none;
	color:gray;
}

#aboutme {
	margin-left:10px;
	text-decoration: none;
	color:gray;
}

#main:hover {
	color:#3a3a3a;
}

#aboutme:hover {
	color:#3a3a3a;
}

p{
	font-family: 'fixedsys';
	margin-left:10%;
	margin-right:10%;
	font-size:24px;
	color:#254843;
}

